.chat_page {
    display: flex;
    height: 100vh;
}
.first_chat_page {
    display: flex;
    flex-direction: column;
    width: 300px;
    border-right: 3px solid black;
}
.users{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.signout_button {
    display: flex;
    justify-content: center;
    margin: 15px;
}
.second_chat_page {
    display: flex;
    flex-direction: column;
    width:100%;
    flex-grow: 1;
}
.messages_container {
    flex-grow: 1;
    overflow: auto;
}
.messages_list {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    min-height: 100%;
}
.message_send {
    display: flex;
    flex-direction: row;
    margin: 15px;
    justify-content: space-between;
}
.message_textfield {
    margin-right: 10px;
    flex-grow: 1;

}



