.chat_page {
    display: flex;
    height: 100vh;
}
.first_chat_page {
    width: 300px;
    flex-shrink: 0;
}
@media (max-width: 960px) {
    .first_chat_page {
        width: 0px;
        flex-shrink: 0;
    }
}
.chat_nickname {
    text-overflow: ellipsis;
    overflow: hidden;
}
.chat_user_item {
    padding-right: 100px!important;
}
.chat_drawer > .MuiDrawer-paper {
    width: 300px;
}
.users{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}
.signout_button {
    display: flex;
    justify-content: center;
    margin: 15px;
}
.second_chat_page {
    display: flex;
    flex-direction: column;
    width:100%;
    flex-grow: 1;
}
.messages_container {
    flex-grow: 1;
    overflow: auto;
}
.messages_list {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    min-height: 100%;
}
.message_send {
    display: flex;
    flex-direction: row;
    margin: 15px;
    justify-content: space-between;
    align-content: center;
}
.message_textfield {
    margin-right: 10px;
    margin-left: 10px;
    flex-grow: 1;
}



